<h1 id="tableLabel">All orders</h1>

<p *ngIf="!orders"><em>Loading...</em></p>

<div>
  <a [routerLink]="['/order-details', '00000000-0000-0000-0000-000000000000']" class="btn btn-sm btn-primary">New order</a>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="orders">
  <thead>
    <tr>
      <th>Date</th>
      <th>Customer</th>
      <th>TotalPrice</th>
      <th>Services</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders; index as id">
      <td>{{ order.date | date:'shortDate'}}</td>
      <td>{{ order.customer.name }}</td>
      <td>{{ order.totalPrice }}</td>
      <td>
        <ul>
          <li *ngFor="let orderDetail of order.orderDetails">
            <span>{{orderDetail.product.name}}</span> {{orderDetail.quantity}} * {{orderDetail.product.price}}
          </li>
        </ul>
      </td>
      <td>
        <a [routerLink]="['/order-details', order.id]" class="btn btn-primary">Edit</a>
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(order)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
